<h1>
  Eventos Components
</h1>
<hr>

<div>
  <div class="form-group mb-2">
    <label class="mr-2">Filtro</label>
    <input
      type="text"
      class="form-control mr-2"
      placeholder="buscar"
      [(ngModel)]="filtroLista"
      >
  </div>
</div>
<h3>Filtro:{{filtroLista}}</h3>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button type="button" class="btn btn-light btn-sm" (click)="showImage()">
          {{showImg ? 'Mostrar' :'Ocultar'}}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Participantes</th>
      <th>Lote</th>
      <th>Opcoes</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
      <tr *ngFor="let evento of eventosFiltrados">
        <td>
          <img
          [collapse]="showImg"
          [isAnimated]="true"
          src="/assets/{{evento.imagemUrl}}"
          [style.width.px]="widthImg"
          [style.margin.px]="marginImg"
          alt="">
        </td>
        <td>{{evento.eventoId}}</td>
        <td>{{evento.tema}}</td>
        <td>{{evento.local}}</td>
        <td>{{evento.dataEvento}}</td>
        <td></td>
        <td>{{evento.lote}}</td>
        <td>
          <button type="button" class="btn btn-primary btn-sm mr-2">Editar</button>
          <button type="button" class="btn btn-danger btn-sm">Excluir</button>
        </td>

      </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento criado</h4>
      </td>
    </tr>
  </tfoot>
</table>

<!--
<div *ngFor="let evento of eventos">

  <p>{{evento.tema}}</p>
  <p>{{evento.local}}</p>

</div>
-->

